*{
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    min-height:100%;
}
body {
  height: 100vh;
  overflow: hidden;
  background-color:#1A1A1B;
  color: #e9eCee;  
}

#chat-window{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: row;
    box-sizing: border-box;
}
#users-column{
    width: 25vw;
    height: 100vh;
    background-color: #272728;
    border-right: 1px solid #4f5051;
}

#users-list{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.single-user-item{
    margin: 10px; 
    display: flex;
    align-items: center;
    flex-direction: row;
}

.color-avatar{
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    margin: 10px;
    filter: brightness(85%);
}

#chat-column{
    width: 75vw;
    margin-top: 10px;    
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}
.hidden{
    display: none;
}
.message-list{
    
    height: 90%;
    padding-left: 10px;
    padding-top: 5px;
    margin:10px;   
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: content-box; 
} 

.message{
    clear: both;
    font: size 18px;
    border: 1px solid #4f5051;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 0 10px 30px 10px;
    word-wrap: break-word;
    padding: 10px;
    padding-left: 15px;
}
.message:first-of-type{
    margin-top: 10px;
}
.message-author{
    float: left;
    margin-right: 8px;
    filter: brightness(90%);
}
.message-time{
    float: left;
    font-weight: bolder;
    margin-bottom: 5px;
}

.horizontal-spacer{
    border-top: 1px solid #4f5051;
}

#chat-box{
    height: 10%;
    min-height: 5%;
    padding:10px 10px 10px 10px;    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#chat-input{
    width: 97%;
    size: 3em;
    line-height: 2.5em;

    background-color:#1A1A1B;
    color: #e9eCee;
    border-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
#chat-button{    
    background-color:#18AAF5;
    padding: 10px;
    border-radius: 10px 10px 30px 0px;
    margin-bottom: 5px;
    margin-right: 5px;
}

#chat-button:active{
    background-color: lightskyblue;
} 

p{
    margin-left: 5px;
    padding: 3px;
}


